# Laravel
/vendor/
backend/vendor/
backend/node_modules/
frontend/node_modules/
frontend/dist/

# Env files - HADO KHATAR
.env
backend/.env
frontend/.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*